/* Large screen */
TODO /*If we want the figure to go off the screen we have to play with the timing of the animations*/
@media only screen and (min-width: 1100px) {
  /*Styles for the picture page*/
  body {
    margin: 25px; ;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
    /*background-image: url('./images/gradientback.jpg');*/
    height: 100%;
    background: #4A48F3;
    background: linear-gradient(#525291, #0F0F33);
    background-repeat: no-repeat;
  }
  .hiddingForms{
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;
    height: 100%;*/
  background: linear-gradient(#525291, #0F0F33);
  background-repeat: no-repeat;
  z-index: 10;
  animation-name: revealFromRightToLeft;
  animation-duration: 5s;
  }

  @keyframes revealFromRightToLeft{
    0% {
      height: 100%;
      width: 100%;
      }

    100% {
      height: 100%;
      width: 0%;
    }
  }

  h1 {
    font-size: 35px;
  }

  button {
    margin: 45px;
    width: 200px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    }

  .Picture_initial {
   width: 40%;
   height: 40%;
  }

  .Picture {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   transition-property: all;
   transition-duration: 15s;
   transform-origin: top;
  }

  .Picture_initial {
   width: 70%;
   height: 75%;
   animation-name: fadeInOut;
   animation-duration: 15s;
  }

  .Giant_eye {

  }

  .Giant_eye_cape {
    width: 50%;
    height: 50%;
    z-index: -1;
    transition: width 10s;

  }


  /*Styles for the Welcome page*/
.WelcomeBox {
  width: 500px;
  height: 300px;
  margin-top: 264px;
  text-align: center;
  margin-left: 250px;
  padding: 25px;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(88, 96, 109, .8);
  z-index: 1;
}

.WelcomeFigure2 {
  -webkit-filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
  -moz-filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
  -ms-filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
  -o-filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
  filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
}

.WelcomeFigure {
  z-index: 20;
  position: absolute;
  top: 100px;
  left: 5%;
  animation-duration: 12s;
  animation-name: slidein;
  display: block;
}

.WelcomeMobile {
  margin-top: 114px;
  margin-left: 350px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: -75%;
    width: 100%;
  }
}

@keyframes revealFromRightToLeft{
  0% {
    height: 100%;
    width: 100%;
    }

  100% {
    height: 100%;
    width: 0%;
  }
}
.ShowMeOrganizations {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.ShowMeOrgo {
  color: green;
}

h1 {
  text-align: center;
  font-size: 55px;
}

/* TODO finish styling the lower half of the Show me all page*/


  .WelcomeMobileEye {
    margin-top: 126px;
    margin-left: 428px;
    position: absolute;
    visibility: hidden;
    animation: eyeAppear 4s infinite 4s;
    z-index: 2;
  }
  .WelcomeMobilePupil {
    margin-top: 140px;
    margin-left: 428px;
    position: absolute;
    z-index: 2;
    animation: pupilLooking 5s infinite 5s;
  }

  .WelcomMoblileClosedEye {
    margin-top: 149px;
    margin-left: 428px;
    position: absolute;
    animation-name: hideMe;
    animation-duration: 4s;
    visibility: hidden;
    z-index: 3;

  }

  @keyframes hideMe {
     0%{
       visibility: visible;
     }
     100% {
       visibility: hidden;
     }
  }

  @keyframes eyeAppear {
    0%{
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes pupilLooking {
    0% {
      margin-top: 140px;
      margin-left: 428px;
    }
    25% {
      margin-top: 140px;
      margin-left: 413px;
    }

    50% {
      margin-top: 140px;
      margin-left: 428px;
    }
     75% {
        margin-top: 140px;
        margin-left: 440px;
    }
    100% {
      margin-top: 140px;
      margin-left: 428px;
    }
  }


}
