html {
  min-height: 100%;
  min-width: 100%;

}

body {
  margin: 25px; ;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100%;
  background: radial-gradient(#525291, #0F0F33);
  /*background: linear-gradient(#18174F, #9797B8);*/
}


button {
  margin: 0px;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  text-align: center;
  color: white;
}

.WelcomeBox {
  z-index: 3;
  width: 300px;
  height: 215px;
  position: absolute;
  background-color: rgba(88, 96, 109, .8);
  text-align: center;
  padding: 10px;
  margin-top: 200px;
}

.WelcomeFigure {
  display:none;
}

.WelcomeMobile {
  z-index: 1;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

.WelcomeMobileEye {
  margin-top: 12px;
  margin-left: 77px;
  position: absolute;
  visibility: hidden;
  animation: eyeAppear 2s infinite 2s;
  z-index: 2;
}
.WelcomeMobilePupil {
  margin-top: 26px;
  margin-left: 77px;
  position: absolute;
  z-index: 2;
  animation: pupilLooking 5s infinite 3s;
}

.WelcomMoblileClosedEye {
  margin-top: 35px;
  margin-left: 77px;
  position: absolute;
  animation-name: hideMe;
  animation-duration: 2s;
  visibility: hidden;
  z-index: 3;

}

/*beginning of eyeball animations*/

.Eye1 {
  position: fixed;
  margin-left: -44px;
  margin-top: -56px;
  animation: eyeAppear 2s infinite 2s;
}

.Eyelid1 {
  position: fixed;
  margin-left: -46px;
  margin-top: -32px;
  animation-name: hideMe;
  animation-duration: 2s;
  visibility: hidden;
}

.Pupil1 {
  position: fixed;
  margin-left: -44px;
  margin-top: -42px;
  animation: Eye1looking 5s infinite 3s;
}




@keyframes Eye1looking {
  0% {

  }
  25% {
      transform: translate(1em,0);
  }

  50% {

  }
   75% {
    transform: translate(-1em,0);
  }
  100% {

  }

}

@keyframes hideMe {
   0%{
     visibility: visible;
   }
   100% {
     visibility: hidden;
   }
}

@keyframes blinking {
   0%{
     visibility: visible;
   }

   100%{
     visibility: hidden;
   }
}

@keyframes eyeAppear {
  0%{
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}


.Eye2 {
  position: fixed;
  margin-left: 0px;
  margin-top: 250px;
  animation: eyeAppear 3s infinite 3s;
  z-index: 1;
}

.Eyelid2 {
  position: fixed;
  margin-left: -4px;
  margin-top: 274px;
  animation-name: hideMe;
  animation-duration: 3s;
  visibility: hidden;
  z-index: 3;
}

.Pupil2 {
  position: fixed;
  margin-left: 0px;
  margin-top: 263px;
  animation: Eyelooking 6s infinite 3s;
  z-index: 2;
}


@keyframes Eyelooking {
  0% {

  }
  25% {
    transform: translate(1em,0);

  }

  50% {

  }
   75% {
      transform: translate(-1em,0);

  }
  100% {
  }

}

.Eye3 {
  position: fixed;
  margin-left: 879px;
  margin-top: -28px;
  animation: eyeAppear 1s infinite 1s;
  z-index: 1;
}

.Eyelid3 {
  position: fixed;
  margin-left: 879px;
  margin-top: -4px;
  animation-name: hideMe;
  animation-duration: 1s;
  visibility: hidden;
  z-index: 3;
}

.Pupil3 {
  position: fixed;
  margin-left: 879px;
  margin-top: -12px;
  animation: Eyelooking 1s infinite 1s;
  z-index: 2;
}
.Eye4 {
  position: fixed;
  margin-left: 80px;
  margin-top: 400px;
  animation: eyeAppear 3s infinite 3s;
  z-index: 1;
}

.Eyelid4 {
  position: fixed;
  margin-left: 80px;
  margin-top: 400px;
  animation-name: hideMe;
  animation-duration: 3s;
  visibility: hidden;
  z-index: 3;
}

.Pupil4 {
  position: fixed;
  margin-left: 80px;
  margin-top: 419px;
  animation: Eyelooking 2s infinite 1s;
  animation-direction: reverse;
  z-index: 2;
}

.Eye5 {
  position: fixed;
  margin-left: 80px;
  margin-top: 125px;
  animation: eyeAppear 3s infinite 3s;
  z-index: 1;
}

.Eyelid5 {
  position: fixed;
  margin-left: 80px;
  margin-top: 125px;
  animation-name: hideMe;
  animation-duration: 3s;
  visibility: hidden;
  z-index: 3;
}

.Pupil5 {
  position: fixed;
  margin-left: 80px;
  margin-top: 144px;
  animation: Eyelooking 2s infinite 1s;
  animation-direction: reverse;
  z-index: 2;
}
.Eye6 {
  position: fixed;
  margin-left: 750px;
  margin-top: 175px;
  animation: eyeAppear 2s infinite 2s;
}

.Eyelid6 {
  position: fixed;
  margin-left: 750px;
  margin-top: 175px;
  animation-name: hideMe;
  animation-duration: 2s;
  visibility: hidden;
}

.Pupil6 {
  position: fixed;
  margin-left: 750px;
  margin-top: 187px;
  animation: Eye1looking 5s infinite 3s;
}

.Eye7 {
  position: fixed;
  margin-left: 700px;
  margin-top: 450px;
  animation: eyeAppear 3s infinite 3s;
  z-index: 1;
}

.Eyelid7 {
  position: fixed;
  margin-left: 700px;
  margin-top: 474px;
  animation-name: hideMe;
  animation-duration: 3s;
  visibility: hidden;
  z-index: 3;
}

.Pupil7 {
  position: fixed;
  margin-left: 700px;
  margin-top: 463px;
  animation: Eyelooking 6s infinite 3s;
  z-index: 2;
}




/*end of eyeball animations*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


button:hover {
  background-color: #2EE59D ;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


input::placeholder {
  font-size: 140%;
  font-size: 20px;
  padding: 14px;
}


input {
  width: 70%;
  height: 65px;
  border-radius: 10px;
  border-style: none;
  outline: none;
  padding: 14px;
  font-size: 20px;
}

/*Syles for the Demographics page*/

.Demographics {
  text-align: center;
  background:rgba(88, 96, 109, .8);;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 50px rgba(210, 253, 255, 1);
}

.demoPara {
  margin-bottom: 10px;
  font-size: 35px;
}


/*Styles for the Orgo page*/
 .Organizations {
   text-align: center;
   background:rgba(88, 96, 109, .8);
   padding-top: 10px;
   padding-bottom: 20px;
   border-radius: 5px;
   margin: 0 auto;
   margin-top: 50px;
   box-shadow: 5px 5px 50px rgba(210, 253, 255, 1);
 }

 .orgoPara {
   margin-bottom: 10px;
   font-size: 30px;
 }

/* Styles for the picture page */

.Picture {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
 background: radial-gradient(#525291, #0F0F33);
}

.Picture_initial_container {
  position: absolute;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Picture_initial {
 width: 300px;
 height: 250px;
 border: 2px solid black;
 border-radius: 5px;
 box-shadow: 5px 5px 50px rgba(210, 253, 255, 1);
 animation-name: fadeInOut;
 animation-duration: 25s;
}

.Picture_initial_header, .Picture_initial_button {
 animation-name: fadeInOut;
 animation-duration: 25s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }

  100% {
    opacity: 0%;
  }
}






.Email {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Syles for the Show me all page*/
 .ShowMeAll, .ShowMeSocialProfiles {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .ShowMePhoto{
   position: absolute;
   float: left;
   margin-top: 25px;
 }

 .ShowMeDemographics, .ShowMeName {
   float: right;
 }

 .Summary {
   border: 3px solid;
   color: black;
   border-radius: 5px;
   background-color:rgba(88, 96, 109, .8);
   box-shadow: 5px 5px 50px rgba(210, 253, 255, 1);
   margin: 0 auto;
   margin-top: 10px;
   text-align: left;
   width: 300px;
   padding: 5%;
 }

 .ShowMeOrgo {
   border: 3px solid black;
   color: black;
   border-radius: 5px;
   background-color:rgba(88, 96, 109, .8);
   box-shadow: 5px 5px 50px rgba(210, 253, 255, 1);
   margin: 0 auto;
   margin-top: 10px;
   text-align: left;
   padding: 5%;
 }

 .ShowMeOrganizations {
  display: flex;
 }

.socialProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 3px solid;
  color: black;
  border-radius: 5px;
  background:rgba(88, 96, 109, .8);
  box-shadow: 5px 5px 30px rgba(210, 253, 255, 1);
  width: 75%;
  padding: 10px;
}

.photos {
  max-width:50%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #D3D3D3;
  font-size: 20px;
}

.profileName {
  color: white;
}

p {
  padding: 0;
  margin: 3px;
  color: #D3D3D3;
}

a:hover {
  color: #050C42;
  text-decoration: underline;
}

h1 a {
  color: blue;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 3px solid;
  color: black;
  border-radius: 5px;
  background-color:rgba(88, 96, 109, .8);
  box-shadow: 5px 5px 50px rgba(210, 253, 255, 1);
  width: 75%;
  padding: 10px;
  word-wrap: break-word;
  text-align: center;
}
