/* Large screen */
/*If we want the figure to go off the screen we have to play with the timing of the animations*/
@media only screen and (min-width: 1100px) {
  /*Styles for the picture page*/
  body {
    margin: 25px; ;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
    /*background-image: url('./images/gradientback.jpg');*/
    height: 100%;
    background: linear-gradient(#525291, #0F0F33);


  }

  .hiddingForms{
    position: absolute;
    top: 0px;
    left: -30%;
  background: linear-gradient(#525291, #0F0F33);
  background-repeat: no-repeat;
  z-index: 10;
  animation-name: revealFromRightToLeft;
  animation-duration: 6.5s;
    animation-timing-function: linear;
  }

  @keyframes revealFromRightToLeft{
    0% {
      height: 100%;
      width: 140%;
      }

    100% {
      height: 100%;
      width: 0%;
    }
  }

  button {
    margin: 25px;
    width: 200px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    }

  .Picture_initial {
   width: 40%;
   height: 40%;
  }

  .Picture {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
   transition-property: all;
   transition-duration: 15s;
   transform-origin: top;
  }

.Picture_initial_container {
margin-top: 350px;

}
  .Picture_initial {
   width: 70%;
   height: 75%;
   animation-name: fadeInOut;
   animation-duration: 15s;
  }

  .Giant_eye_cape {
    width: 50%;
    height: 50%;
    z-index: -1;
    transition: width 10s;

  }


  /*Styles for the Welcome page*/
  .Welcome{
    margin: 0 auto;
    width: 1100px;
  }

.WelcomeBox {
  width: 500px;
  height: 300px;
  margin-top: 244px;
  text-align: center;
  margin-left: 250px;
  padding: 25px;
  border-radius: 12px;
  overflow: hidden;
  background-color: rgba(88, 96, 109, .8);
  z-index: 1;
}

.WelcomeFigure2 {
  -webkit-filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
  -moz-filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
  -ms-filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
  -o-filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
  filter: drop-shadow(0 2px 20px rgba(0,0,0,.5));
}

.WelcomeFigure {
  z-index: 0;
  position: absolute;
  top: 80px;
  left: -35%;
  animation-duration: 6.5s;
  animation-name: slidein;
  animation-timing-function: linear;
  display: block;
}

.WelcomeMobile {
  margin-top: 94px;
  margin-left: 350px;
}

@keyframes slidein {
  from {
    z-index: 20;
    left: 100%;
    width: 100%;
  }

  to {
    z-index: 20;
    left: -35%;
    width: 100%;
  }
}

.ShowMeOrganizations {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
}

.ShowMeOrgo {
  color: white;
}

.photos {
  max-height: 50%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: white;
}

h2 {
 text-align: center;
 font-size: 25px;
 color: white;
 animation: fadeInOut;
 animation-duration: 15s;
}

.ShowMeDemographics {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

p {
  font-size: 14px;
  color: 	#D3D3D3;
}



/* TODO finish styling the lower half of the Show me all page*/


  .WelcomeMobileEye {
    margin-top: 106px;
    margin-left: 428px;
    position: absolute;
    visibility: hidden;
    animation: eyeAppear 6s infinite 6s;
    z-index: 2;
  }
  .WelcomeMobilePupil {
    margin-top: 120px;
    margin-left: 428px;
    position: absolute;
    z-index: 2;
    animation: pupilLooking 6s infinite 6s;
  }

  .WelcomMoblileClosedEye {
    margin-top: 129px;
    margin-left: 428px;
    position: absolute;
    animation-name: hideMe;
    animation-duration: 6s;
    visibility: hidden;
    z-index: 3;

  }

  @keyframes hideMe {
     0%{
       visibility: visible;
     }
     100% {
       visibility: hidden;
     }
  }

  @keyframes eyeAppear {
    0%{
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes pupilLooking {
    0% {
      margin-top: 120px;
      margin-left: 428px;
    }
    25% {
      margin-top: 120px;
      margin-left: 413px;
    }

    50% {
      margin-top: 120px;
      margin-left: 428px;
    }
     75% {
        margin-top: 120px;
        margin-left: 440px;
    }
    100% {
      margin-top: 120px;
      margin-left: 428px;
    }
  }

  .body404, .head404, .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
    background: url('./images/animation.png') 0 0 no-repeat;
    width: 200px;
    height: 200px;
    // border: 1px dotted red;
  }

  .newcharacter404, .torso404, .body404, .head404,  .leftarm404, .rightarm404, .chair404, .leftshoe404, .rightshoe404, .legs404, .laptop404 {
    background-size: 750px;
    position: absolute;
    display: block;
  }

  .newcharacter404 {
    width: 400px;
    height: 800px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
  }

  $swayspeed: 20s;

  .torso404 {
    position: absolute;
    display: block;
    top: 138px;
    left: 0px;
    width: 389px;
    height: 252px;
    animation: sway $swayspeed ease infinite;
    transform-origin: 50% 100%;
  }

  .body404 {
    position: absolute;
    display: block;
    top: 148px;
    left: 0px;
    width: 389px;
    height: 253px;
  }

  .head404 {
    position: absolute;
    top: 0px;
    left: 106px;
    width: 200px;
    height: 185px;
    background-position: 0px -265px;
    transform-origin: 50% 85%;
    animation: headTilt $swayspeed ease infinite;
  }
<<<<<<< HEAD

=======
.eyelid404 {
  position: absolute;
  height: auto;
      width: 262px;
      margin-left: -29px;
      margin-top: 8px;

}

/*.pupil404 {
  position: absolute;
  height: auto;
  width: 70px;
  margin-left: 64px;
  margin-top:-115px;
  z-index: 2;
}*/
>>>>>>> master
  /*.eyes404 {
    position: absolute;
    top: 92px;
    left: 34px;
    width: 73px;
    height: 18px;
    background-position: -162px -350px;
    animation: blink404 10s steps(1) infinite, pan 10s ease-in-out infinite;
  }*/

  .leftarm404 {
    position: absolute;
    top: 318px;
    left: 0;
    width: 165px;
    height: 73px;
    background-position: -265px -341px;
    transform-origin: 9% 35%;
    transform: rotateZ(0deg);
    animation: typeLeft 0.4s linear infinite;
  }

  .rightarm404 {
    position: absolute;
    top: 305px;
    left: 231px;
    width: 157px;
    height: 91px;
    background-position: -442px -323px;
    transform-origin: 90% 25%;
    animation: typeLeft 0.4s linear infinite;
  }

  .chair404 {
    position: absolute;
    top: 430px;
    left: 55px;
    width: 260px;
    height: 365px;
    background-position: -12px -697px;
  }

  .legs404 {
    position: absolute;
    top: 378px;
    left: 4px;
    width: 370px;
    height: 247px;
    background-position: -381px -443px;
  }

  .leftshoe404 {
    position: absolute;
    top: 591px;
    left: 54px;
    width: 130px;
    height: 92px;
    background-position: -315px -749px;
  }

  .rightshoe404 {
    position: absolute;
    top: 594px;
    left: 187px;
    width: 135px;
    height: 81px;
    background-position: -453px -749px;
    transform-origin: 35% 12%;
    animation: tapRight 1s linear infinite;
  }

  .laptop404 {
    position: absolute;
    top: 186px;
    left: 9px;
    width: 365px;
    height: 216px;
    background-position: -2px -466px;
    transform-origin: 50% 100%;
    animation: tapWobble 0.4s linear infinite;
  }

  @keyframes sway {
    0%   { transform: rotateZ(0deg); }
    20%  { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(4deg); }
    45%  { transform: rotateZ(4deg); }
    50%  { transform: rotateZ(0deg); }
    70%  { transform: rotateZ(0deg); }
    75%  { transform: rotateZ(-4deg); }
    90%  { transform: rotateZ(-4deg); }
    100% { transform: rotateZ(0deg); }
  }

  @keyframes headTilt {
    0%   { transform: rotateZ(0deg); }
    20%  { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(-4deg); }
    35%  { transform: rotateZ(-4deg); }
    38%  { transform: rotateZ(2deg); }
    42%  { transform: rotateZ(2deg); }
    45%  { transform: rotateZ(-4deg); }
    50%  { transform: rotateZ(0deg); }
    70%  { transform: rotateZ(0deg); }
    82%  { transform: rotateZ(0deg); }
    85%  { transform: rotateZ(4deg); }
    90%  { transform: rotateZ(4deg); }
    100% { transform: rotateZ(0deg); }
  }

  @keyframes typeLeft {
    0%   { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(7deg); }
    75%  { transform: rotateZ(-6deg); }
    100% { transform: rotateZ(0deg); }
  }

  @keyframes typeRight {
    0%   { transform: rotateZ(0deg); }
    25%  { transform: rotateZ(-6deg); }
    75%  { transform: rotateZ(7deg); }
    100% { transform: rotateZ(0deg); }
  }

  @keyframes tapWobble {
    0%   { transform: rotateZ(-0.2deg); }
    50%  { transform: rotateZ(0.2deg); }
    100% { transform: rotateZ(-0.2deg); }
  }

  @keyframes tapRight {
    0%   { transform: rotateZ(0deg); }
    90%  { transform: rotateZ(-6deg); }
    100% { transform: rotateZ(0deg); }
  }

  @keyframes blink404 {
    0%   { background-position: -162px -350px; }
    94%  { background-position: -162px -350px; }
    98%  { background-position: -162px -368px; }
    100% { background-position: -162px -350px; }
  }

  @keyframes pan {
    0%   { transform: translateX(-2px); }
    49%   { transform: translateX(-2px); }
    50%  { transform: translateX(2px); }
    99%  { transform: translateX(2px); }
    100% { transform: translateX(-2px); }
  }
}
